

<section id="footer">
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Simple Resume Generator</h5>
            <p class="grey-text text-lighten-4">Made using Node, Express, EJS & Materialize CSS</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text bold-text">Reference Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">NodeJs Docs</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">ExpressJs Docs</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">EJS Docs</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Materialize CSS Docs</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2021 Copyright Pawan Sargar
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

  </section>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <!-- materialize script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="js/index.js"></script>
</body>
<!-- jqery -->


</html>

